<mat-sidenav-container class="side-nav-container">

  <mat-sidenav mode="side" opened class="sidenav">

    <div class="nav flex-column">

      <button *ngFor="let tab of tabs" [routerLink]="tab.route" routerLinkActive="active" mat-flat-button
        class="btn btn-light  btn-item-nav" >
        <mat-icon color="primary" >{{tab.icon}}</mat-icon>
        <p class="text-muted font-weight-normal">{{tab.title}}</p>
      </button>

    </div>

  </mat-sidenav>

  <mat-sidenav-content>
    <mat-tab-group animationDuration="0ms">
      <mat-tab>
        <router-outlet></router-outlet>
      </mat-tab>
    </mat-tab-group>
  </mat-sidenav-content>

</mat-sidenav-container>